* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }

  // Police
  
@font-face {
    font-family: "font-1";
    src: url(/assets/Shrikhand-Regular.ttf);
}
@font-face {
    font-family: "font-2";
    src: url(/assets/font_family/Roboto/Roboto-Medium.ttf);
}

h1 {
    font-family: "font-1", serif;
    letter-spacing: 2px;
    font-size: 2rem;
    text-align: center;
    margin-bottom: 16px;
}
h2 {
    font-weight: weight(bold);
    font-size: 30px;
    color: black;
    letter-spacing: 1px;
    margin-bottom: 25px;
}
h3 {
    font-size: 18px;
    font-weight: weight(lighter);
}
h4 {
    font-size: 19px;
}
p {
    font-size: 18px;
}
a {
    text-decoration: none;
    color: black;
}