@import 'utils';
@import 'pages';
@import 'layouts';
@import 'base';
@import 'components';
@import 'animations';

header {
    margin: 20px auto;
}
body {
    font-family: "font-2", sans-serif;
}
main {
    @include flexCenter;
    flex-direction: column;
}

